.favorites-container {
    display: flex;
    flex-direction: row;
    padding: 5% 20%;
    flex-wrap: wrap;
    

    .card-container {
        margin: 20px;
    }
}

.timer {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}